
.red {
    background-color: red;
    border: none;
}
.purple {
    background-color: purple;
    border: none;
}
.lime {
    background-color: lime;
    border: none;
}
a {
    color: white;
}
a:hover {
color: white;
}
.article1{
background-color: lime;
margin: 5%;
}

.article2{
    background-color: purple;
    margin: 5%;
}
.article3{
    background-color: red;
    margin: 5%;
}